.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  input {
    border-radius: 12px;
    background: #F6F8F9;
    width: 100%;
    border: none;
    height: 56px;
    font-size: 18px;
    padding: 0 16px;

  }
  span{
    color: red;
  }
}